body {
    background-color: #f8f9fa;
}

h2 {
    color: #343a40;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
}

.list-group-item {
    border-color: #dee2e6;
}
