<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <div class="container mt-5">

            <div class="text-center">
                <h1 class="display-4 fw-bold">PROYECTO DE FULLSTACK 2</h1>
                <h2 class="mt-3 text-secondary">Desarrollado por: <span class="text-primary">Roberto Grijalva Sánchez</span></h2>
            </div>
            
            <div class="mt-5">
                <h2 class="text-info">Descripción:</h2>
                <p class="fs-5">
                    Proyecto final de la asignatura Fullstack 2; página web que contiene los siguientes elementos:
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Docker</li>
                    <li class="list-group-item">PostgreSQL</li>
                    <li class="list-group-item">Servicio Email</li>
                    <li class="list-group-item">Comentarios</li>
                    <li class="list-group-item">DNS</li>
                    <li class="list-group-item">Servidor público</li>
                    <li class="list-group-item">Django-Allauth</li>
                    <li class="list-group-item">Búsqueda</li>
                    <li class="list-group-item">Identificadores universales</li>
                </ul>
            </div>
            <div class="mt-5 text-center">
                <h3 class="text-muted">BitBank Co. Todos los derechos no reservados.</h3>
                <h5 class="text-danger">Espero no reprobar...</h5>
            </div>
        </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
